README.html
*.log
*.aux
*.toc
*.DS_Store
*gitignore~
*.synctex.gz
*.Rapp.history
*~
Icon[^/]
\#*
*.dropbox
_README
*-deprecated*
*.Rhistory

LaTeX_Basics/*.nav
LaTeX_Basics/*.out
LaTeX_Basics/*.snm
LaTeX_Basics/*.aux
LaTeX_Basics/*.synctex.gz

LaTeX_BibTeX/*.nav
LaTeX_BibTeX/*.out
LaTeX_BibTeX/*.snm
LaTeX_BibTeX/*.aux
LaTeX_BibTeX/*.synctex.gz

LaTeX_Math/*.nav
LaTeX_Math/*.out
LaTeX_Math/*.snm
LaTeX_Math/*.aux
LaTeX_Math/*.synctex.gz	

LaTeX_Tips/*.nav
LaTeX_Tips/*.out
LaTeX_Tips/*.snm
LaTeX_Tips/*.aux
LaTeX_Tips/*.synctex.gz	
